<% cache product do %>
	<div class="col-sm-2 col-md-4">
		<h3><%= product.name %></h3>
		<p><%= product.description %></p>
		<p><%= image_tag(product.image_url, class:"img-responsive") %></p>
		<p><%= product.colour %></p>
		<p><strong><%= product.price %></strong></p>
	</div>
<% end %>