<p id="notice"><%= notice %></p>

<div class="row">
	<div class="col-sm-6 col-md-4">
		<div class="thumbnail">
			<p>
				<%= image_tag(@product.image_url, width: "200", class:"img-zoom", data_zoom_image: @product.image_url) %>
			</p>
			<div class="caption">
			<% cache @product do %>
				<h3>
					<%= @product.name %>
				</h3>
			<p>
				<%= @product.description %>
			</p>
			
			<p>
				<strong>Colour:</strong>
				<%= @product.colour %>
			</p>

			<p>
				<strong>Price:</strong>
				<%= @product.price %>
			</p>
			<% end %>
			<%= form_tag "/payments/create" do %>
				<%= render partial: "/shared/stripe_checkout_button" %>
			<% end %>

			<p><%= render partial: 'comments' %></p>

			<p><%= render partial: 'new_comment' %></p>

			<p>Average Rating: <div class="rated" id="average-rating" data-score="<%= @product.average_rating %>"></div></p>

			<div class="pagination">
				<%= will_paginate @comments, :page_links => false %>
			</div>

			</div><!--caption-->
		</div><!--thumbnail-->
	</div><!--col-->
</div><!--row-->

<div class="col-sm-6 col-md-4">
	<%= link_to 'Edit', edit_product_path(@product), class:"btn btn-default btn-xs" %> |
	<%= link_to 'Back', products_path, class:"btn btn-default btn-xs" %>
</div>
