<p id="notice"><%= notice %></p>

<div class="row">
	<div class="col-sm-6 col-md-4">
		<div class="thumbnail">
			<p>
				<%= image_tag(@product.image_url, class:"img-responsive") %>
			</p>
			<div class="caption">
				<h3>
					<strong>Name:</strong>
					<%= @product.name %>
				</h3>
			<p>
				<strong>Description:</strong>
				<%= @product.description %>
			</p>
			
			<p>
				<strong>Colour:</strong>
				<%= @product.colour %>
			</p>

			<p>
				<strong>Price:</strong>
				<%= @product.price %>
			</p>

			<p>Average Rating: <div class="rated" data-score="<%= @product.average_rating %>"></div></p>
			
			</div><!--caption-->
		</div><!--thumbnail-->
	</div><!--col-->
</div><!--row-->

<%= link_to 'Edit', edit_product_path(@product) %> |
<%= link_to 'Back', products_path %>

<%= @product.highest_rating_comment %> 
