<!DOCTYPE html>
<html>
<%= render 'layouts/head' %>

<body>
<% if notice %>
	<p id="notice" class="alert alert-info"><%= notice %><br></p>
<% end %>
<% if alert %>
	<p id="alert" class="alert alert-success"><%= alert %><br></p>
<% end %>

<%= render 'layouts/nav' %>

<%= yield %>

<footer class="footer">
	<p id="footer">The date and time is <%= Time.now %></p>
	<div class="col-sm-10">
		<p class="text-muted">&copy; 2015 Bike Berlin</p>
	</div>
</footer>

</body>
</html>
